<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="token" value="Bot MTA0MTc2Njc3NDQyMjY0NjkwNQ.GJbyTt.a2OadRKNk8STdBlwHrIVx5hx0hAsVMUAGOHsSs" />
  </appSettings>
</configuration>